#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
    margin-top: 36px;
    margin-bottom: 0;
}

#hero img {
    margin: 0 auto;
    height: 600px;
}

/* ========= GENERAL RESPONSIVENESS ========== */
@media (max-width: 1200px) {
    .hero-image img {
            max-width: 100%;
            height: auto;
            height: 750px;
    }
}
    
@media (max-width: 1000px) {
    #hero {
        gap: 100px;
        margin: 0;
    }
}

@media (max-width: 375px) {
    #hero {
        margin: 36px;
    }
}