.main-background {
    color: #ECECF1;
}

.hover-states,
.secondary-backgrounds
.light-tags {
    color: #8CB4FF;
}

.subtle-backgrounds, 
.section-fills {
    color: #B6D5FF;
}

.buttons, 
.links, 
.ctas, 
.highlights {
    color: #371BFF;
}

.empahsize-words {
    color: #FFA76C;
}

.primary-body
.heading-text {
    color: #000000;
}

.text-buttons {
    color: #FFFFFF;
}