<footer>
    <div class="container">
        <div class="logo">
            <a href="/">
              <img src="src/assets/logo.png" alt="Wiselook Logo" class="logo-img">
            </a>
        </div>
        <div class="text-blocks">
            <p>Paseo de la Castellana 42 1A,
                <br>Salamanca, 28046 
                <br>Madrid, España
            </p>
            <p>Contact Us: 
                <br>hello@wiselook.com <!-- ADD EMAILTO: LINK -->
            </p>
        </div>
        <div class="text-block-footer">
            <p>© 2025, Wiselook. All Rights Reserved.</p>
        </div>
    </div>
</footer>