<div class="container">
    <section>
        <h2>See yourself in these success stories</h2>
        <div class="tables">
            <div class="table usecase">
                <div class="table-title">
                    <h3>Use case</h3>
                </div>
                <div class="table-content">
                    <div class="table-bubble">
                        <div class="icon">ICON</div>
                        <div class="table-info">
                            <p>Internal mobility</p>
                            <p>Identify & move internal talent into new roles before looking outside</p>
                        </div>
                    </div>
                    <div class="table-bubble">
                        <div class="icon">ICON</div>
                        <div class="table-info">
                            <p>L&D personalization</p>
                            <p>Tailor development plans based on individual potential, not job titles</p>
                        </div>
                    </div>
                    <div class="table-bubble">
                        <div class="icon">ICON</div>
                        <div class="table-info">
                            <p>Strategic workforce planning</p>
                            <p>Build a future-ready organization by aligning talent to strategy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>