<!doctype html>
---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    <Header />
    <main>
      <slot />  <!-- Page content goes here -->
    </main>
    <Footer />
  </body>
</html>

<!-- Add this to CSS and delete-->
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
